
body {
    
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
}
h1 {
    color: #66bfbf;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: "Sacramento", cursive;
  }
  
h2 {
    color: #66bfbf;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
  }
  
h3 {
    color: #11999e;
    font-family: "Montserrat", sans-serif;
  }
.top-container{
    background: url(./images/final\ background\ image\ leaves.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    display: flex;
    flex-direction: column;
    flex-basis: 200px;
    gap: 40px;
    align-items: center;
    margin: 0;
    padding: 15rem 8rem 15rem 8rem;
    color: #04826f;
    
    
}
.middle1-container {
    background-color:rgb(248, 233, 228);
    text-align: center;
    color: rgb(237, 112, 67);
  }
 .bottom-container{
    text-align: center;
    background-color: rgb(219, 233, 246);
    padding: 50px 0 20px;
    color: #24776c;
    
 } 
  
.bg-color{
    background-color: rgb(252, 194, 194);
   
}
.radi{
    border-radius: 50%;
    width: 200px;
    height: 200px;

}
/*.title-text{
    display: flex;
    flex-direction: column;
    flex-basis: 200px;
    gap: 40px;
    align-items: center;
    margin: 0;
    padding: 15rem 8rem 15rem 8rem;
    
}*/

.pro{
    color:rgb(50, 127, 109) ;
}
/*.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
  }*/

.typing-img {
    width: 90%;
    margin-right: 30px;
  }
.testing-img {
    margin-right: 30px;
  }
.parent {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    width: 50%;
    margin: 100px auto 0 auto;
    text-align: left;
    row-gap: 2rem;
  }
  .container2{
    display: flex;
    flex-basis: 100px;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding:30px;
  }
  .middle2-container{
    background-color: rgb(180, 245, 224);
  }
  a {
    color: #11999e;
    font-family: "Montserrat", sans-serif;
    margin: 10px 20px;
    text-decoration: none;
  }
  
  a:hover {
    color: #eaf6f6;
  }
  .btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }  